html {
  scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;}

body {background-color:rgb(38, 3, 38);}


.pix {
  margin-right: 50px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #04011d;
  border: 1px solid #f2f2f2;
}





.benefit-lead {
  margin-bottom: 25px;
  color: #ffffff;
}

.benefit-brand {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-cost {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-lead h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-brand h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
  
}

.benefit-lead img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
  border: 1px solid #f2f2f2;
}

.benefit-brand img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
  border: 1px solid #f2f2f2;
}

.benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
  border: 1px solid #f2f2f2;
}








.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(4, 1, 21);
    color: #ffffff;}

.header h1 {
    display: inline-block;
    font-size: 48px;}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;}

.header div ul li {
    display: inline-block;
    margin-left: 25px;}



a {color: #ffffff;
    text-decoration: none;}

p {font-size: 18px;
text-align: center;}




.stars {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("https://i.pinimg.com/originals/0b/59/34/0b5934b623f3c6f5377f221959d77982.gif");
    background-size: cover;
    background-position: center;}

  
  

.about {
    margin-bottom: 50px;
    margin-right: 430px;
    margin-left: 100px;
    margin-top: 20px;
    padding: 20px;
    height: 682px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
    color: rgb(34, 255, 0);
    font-size: 20px;
    border: 1px solid #f2f2f2;
    
    
}

.about p
{text-align: left;
    padding: 20px;
    font-size: 20px ;
    
}

.about h2
{
    margin-top: 0px;

}


.work {
    margin-bottom: 30px;
    padding: 50px;
    height: 730px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial;
    background-color: #022020;
    color: #ffffff;
    font-size: 27px;
text-align: center;
    border: 1px solid #f2f2f2;
    
}


.resume
{
    margin-bottom: 30px;
    padding: 50px;
    height: 700px;
    font-family:'Courier New', Courier, monospace;
    background-color:rgb(47, 2, 14);
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    border: 1px solid #f2f2f2;
}

.resume p {
    font-size: 40px;
    margin-top: 88px ;
    
    

}

.resume h2 {
font-family:'Courier New', Courier, monospace;
font-size: 60px;

}



.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color:#ffff00;
    font-size: 25px;  
}
    
.footer h2 {
    font-size: 30px;}


    * {
        box-sizing: border-box;
      }
      
      body {
        font-family: Arial;
        margin: 0;
      }
      
      header {
        padding: 60px;
        text-align: center;
        background: #13293d;
        color: #fff;
        
      }
      
      .card {
        border-style: solid;
        border-width: 5px;
        padding: 111px;
        float: left;
        width: 25%;
        
      }
      
      .card header {
        padding: 20px;
      }
      
      .card p {
        text-align: center;
      }
      
      .card img {
        width: 100%;
      }

      .works {
        margin: 80px;
        list-style: none;
        font-size: 20px;
    }
    ul li {
        margin: 10px;
        display: inline-block;
    }
    .works {
        padding: 5px;
        display: inline-block;  
    }
    ul li a img {
        width: 180px;
        height: 180px;
        display: block;
          border: 1px solid #f2f2f2;
    }
    ul li a:hover img {
        transform: scale(1.5);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
      
     
     
      @media screen and (max-width: 768px) {
        .card {
          width: 50%;
        }
       header {
          background: #8ac4ff;
        }
      }
      